<p id="notice"><%= notice %></p>
<%= image_tag @user.gravatar_url %>
<p>
  <b>Fname:</b>
  <%= @user.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @user.lname %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Company:</b>
  <%= @user.company %>
</p>

<p>
  <b>Langauges:</b>
  <% @user.languages.each do |l|  %>
  <%= l.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
